.card {
    padding: 20px;
    text-align: center;
    background-color: #C7A252;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    filter: blur(0.2px);
    z-index: 0;
    height: 100%;
    transition: all 0.3s ease;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card-info {
    margin-top: 10px;
    text-align: left;
    overflow: auto; /* Add overflow for long content */
}

.slick-center .card {
    transform: scale(1.4);
    transition: all 0.3s ease;
    background-color: #ffe6cc;
    filter: blur(0px);
    height: auto; /* Set height to auto */
}

.slick-slide {
    transition: transform 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-card {
    background-color: #ffe6cc; 
    transform: scale(1.4); 
    transition: transform 0.5s;
    z-index: 1;
    height: auto; /* Set height to auto */
}

.active-card {
    transform: scale(1.5); /* Change the scale as desired */
    transition: transform 0.5s;
    z-index: 1;
}

.slick-slide .card {
    max-height: none !important;
    height: auto;
    padding: 40px 20px;
    color: #3d1f00;
}

.bob {
    color: #3d1f00;
}