/* Body */
body {
    margin: 0;
    color: #FFF; /* Changed to white */
    font-family: 'Pirata One', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(to bottom, #0d4f75, #3b83bd); 
    min-height: 100vh;
}

/* Header */
h2 {
    color: #FFF; /* Changed to white */
    text-align: center;
    font-family: 'Papyrus', fantasy;
}

.searchboy {
    font-size: 36px;
    margin-bottom: 10px;
}

/* Link */
.link {
    text-decoration: none;
    color: #FFD700; /* Changed to match Title.css button hover color */
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.link:hover {
    color: #333; /* Changed to match Title.css button color */
}